.FontClass {
  width: 100px;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 4%;
  margin-top: -20%;
  height: 4vh
}
.FontClasss {
  width: 100%;
  font-size: 25px;
  color: #ffffff;
  margin-top: -14%;
  height: 4vh;
  text-align: center;
  padding-bottom: 45px;
}
.RYB{
  width: 33%;
  height: 371px;
  text-align: center;
}
.RYB1{
  margin-top: -371px;
    height: 371px;
    width: 33%;
    margin-left: 33%;
    text-align: center;

}
.RYB2{
  margin-top: -371px;
    height: 371px;
    width: 33%;
    margin-left: 66%;
    text-align: center;

}
.class1 {
    width: 16%;
    margin-top: 3%;
    margin-left: 5%;
    height: 59%;
    background: url("../../../static/rbkb.png") no-repeat top;
    background-size:70% 80%;
    color:#373737;
    font-size: 5px;
   /* -moz-background-size:60% 80%;
   -webkit-background-size:100% 100%;
   -o-background-size:60% 80%; */
}
.smallclass1 {
  font-size: 12px;
  padding-top: 81%;
  color: #373737;
  padding-left: 3%;
}
.echarts {
  width: 100%;
  height: 250px;
  opacity: .8;
  /* background-color: silver; */
}
.echarts1 {
  width: 100%;
  height: 250px;
  opacity: 10.5;
}
.echarts2 {
  width: 100%;
  height: 250px;
  opacity: .8;
}
.echarts3 {
  width: 100%;
  height: 250px;
  opacity: .8;
}
.daohangClass {
  border-radius: 7px 8px 7px 7px;
  height: auto;
  /* flex-wrap: wrap; */
  /* white-space: nowrap;
  overflow-x: auto; */
  margin-left: 2%;
  width: 95%;
  z-index: 999;
  margin-top: 0%;
  background: #FFFFFF;
}
.container {
  height: auto;
  margin-bottom: 15%;
  background: #e0dddd;
}
.van-nav-bar .van-icon {
  color: #fff;
}
.van-nav-bar__title {
  font-size: 0.3rem;
  color: #fff;
  max-width: 40%;
  margin: 0 auto;
  font-weight: 500;
}
.nav-span {
  font-size: 0.15rem;
  color: #fff;
  width: 1rem;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nav-img {
  line-height: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
}
.middle1 {
  height: 6vh;
  width: 100%;
  background-repeat: round;
  background-color: darkorange;
  text-align: center;
  z-index: 999;
  /* margin-bottom: 3px; */
}
/* .middle1 p:first-child {
  font-size: 0.25rem;
  padding-top: 0.25rem;
  letter-spacing: 0.02rem;
} */
.middle1 p:first-child {
  font-size: 0.5rem;
  font-weight: 500;
  padding: 2% 0;
  letter-spacing: 0.02rem;

}
.middle1 p:nth-child(2) {
  /* font-size: 0.5rem; */
  font-weight: 500;
  padding: 1% 0;
  letter-spacing: 0.02rem;
}
.middle1 p:last-child {
  font-size: 0.25rem;
}
.middle1 p:last-child span:first-child {
  display: inline-block;
  background: #e00;
  padding: 0.1rem;
  border-radius: 0.2rem;
  letter-spacing: 0.03rem;
}
.con-table{
  width: 98%;
  margin-left:1%;
}
.van-nav-bar__title {
  font-size: 16px;
  color: white;
}
.van-hairline--bottom::after {
  border-bottom-width: 0px;
}
.con-table .el-table td, .el-table th{
  padding: 0!important;
  font-size: .1rem;
}
.con-table .el-table .cell{
  padding-right: 0;
}
.van-nav-bar__title {
  font-size: 18px;
}
.main-bottom{
  position: absolute;
  top: 64%;
  height: 44%;
  width: 94%;
  left: 3%;
  border-radius: 8px;
  background: #fff;
}
.imgtem {
  background: url(/static/img/zy-bg.c31f41c.png) no-repeat;
  background-size: 100% 100%;
  width: 97%;
  background: red;
  height: 0.7rem;
  color: #ffffff;
  padding-left: 3%;
  border-radius: 8px 8px 0px 0px;
  padding-top: 0.1rem;
}
.header-img-right{
  float: right;
  width: .6rem;
  height: .6rem;
}
.mainTable {
  background-color: #fff;
  width: 100%;
  height: 86%;
  border-radius: 0px 0px 8px 8px;
  overflow: auto;
}
.mainTable .el-tabs__er{
  margin: 0!important;
}
.mainTable .el-tabs__header{
  margin: 0!important;
}
.monthModule{
  width: 100%;
}
.monthModule .el-tabs__header{
  margin: 2px 0!important;
}
/* // 当日当月当年 */
.monthModule .el-tabs .el-tabs__header {
  border:none;
  margin : 0;
}
.monthModule .el-tabs .el-tabs__header .el-tabs__nav {
  border: none;
}
.monthModule .el-tabs .el-tabs__header .el-tabs__item {
  border: 1px solid #ffffff;
  height: .4rem;
  line-height: .4rem;
  -webkit-box-shadow: 0 0 10px #ededed;
  box-shadow: 0 0 10px #ededed;
  margin: .1rem .4rem;
  padding: 0 .1rem;
  border-radius: .5rem;
}
.monthModule .el-tabs .el-tabs__header .el-tabs__item.is-active {
  border: 1px solid #cd142e;
  background : #fbdee1;
  color : #cd142e;
  box-shadow : none;
}
.el-tabs__header {
  position: relative;
  margin: .1rem 0;
}

.table-two{
  width: 98%;
  margin-left:1%;
  font-size: .2rem!important;
}
.van-overlay{
  z-index: 999;
  background-color: rgba(0,0,0,.4);
}
.overlay-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.overlay-block {
  width: 94%;
  height: 40%;
  background-color: #fff;
}
.overlay-title{
  margin: .3rem 0 0 .3rem!important;

}
div.overlay-title::before{
  content: "";
  display: inline-block;
  width: .1rem;
  height: 100%;
  background: red;
}
.overly-tab{
  margin-top: 5%;
}
.overly-tab.van-tab {
  text-align: left!important;
}
.overlay-block.van-tabs__line{
  display: none;
}

.van-tab--active {
  color: #323233;
  font-weight: 500;
  text-align: center;
  margin: 0 1.1rem;
}
.comfirm-btns{
  margin-top: 33%;
  width: 100%;
}
.confirm-normal{
  border: 1px solid #aaa;
  text-align: center;
  padding: .1rem .5rem;
  letter-spacing: .1rem;
}
.confirm-active{
  background: red;
  color: #ffffff;
}
.el-table td, .el-table th{
  padding: 0;
  font-size: .2rem;
}
.el-table .cell{
  padding-right: 0;
}
.el-table td, .el-table th{
  padding-bottom: 2px;
}
.van-card__content {
  position: absolute;
  min-width: 0;
  min-height: 10px;
}
.van-card__thumb {
  position: relative;
  /* -webkit-box-flex: 0; */
  -webkit-flex: none;
  flex: none;
  width: 5vh;
  height: 5vh;
}
.van-card__thumb img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.van-image {
  width: 0%;
    height: 0%;
}
.van-card__title {
  max-height: 27px;
  font-weight: 500;
  line-height: 28px;
  height: 5vh;
  margin-top: 5vh;
  margin-left: -5px;
}
.van-card__header {
  height: 0px;
}
.van-card {
  border-radius: 6%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: 0px 12px 1px 2px;
  color: #323233;
  width: 20%;
  height: 10vh;
  font-size: 12px;
  background-color: #FFFFFF;
}

.cardClass{
  border-radius: 6%;
  margin-left: 1%;
  margin-right: 1%;
    width: 98%;
  height: auto;
  margin-top:2%;
  /* background-color: silver; */
  padding: 8px 16px;
  color: #323233;
}
.cardClass .van-card__content{
  position: absolute;
  margin-top: 0.5%;
  width: 100%;
  margin-left: 7%;
}
.cardClass .van-card__thumb{
  width: 60px;
  height: 60px;
}
.cardClass .van-card__thumb img {
  width: 30%;
  height: 30%;
  border-radius: 8px;
}
.cardClass .van-card__title{
    font-size: 14px;
    height: 6vh;
    float: left;
    margin-top: -2%;
    margin-left: 0%;
    width: auto;
}
.van-card__desc {
  float: left;
  max-height: 20px;
  color: #646566;
  line-height: 15px;
}

.echarts {
  width: 100%;
  height: 250px;
  opacity: .8;
}

.mapEcharts {
  width: 100%;
  height: 270px;
}

.echarts1 {
  width: 100%;
  height: 250px;
  opacity: 10.5;
}

.echarts2 {
  width: 100%;
  height: 250px;
  opacity: .8;
}

.echarts3 {
  width: 100%;
  height: 250px;
  opacity: .8;
}

.echarts4 {
  margin-top: 7%;
  width: 100%;
  height: 250px;
  opacity: .8;
}

.vancol {
  padding-top: 2vh;
}

.backup {
  color:#FFFFFF;
  font-size: 16px;
}

.menutitle {
  color: #FFF;
  font-size: 16px;
  text-align: left;
}

.menubar{
  background-color: #DCDFE6;
  z-index:'999';
}
.active_button {
  background-color: darkorange;
  font-size: 16px;
  text-align: center;
  border-radius: 10% / 90%;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  height: 3vh;
  color: white;
  padding-top: 3.5%;
}
.normal_button {
  background-color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 10% / 90%;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  height: 3vh;
  color: black;
  padding-top: 3.5%;
}
.menu_card{
  margin: 1% 0px;
  margin-bottom: -5px;
  border-radius: 5px;
}
.menu_card_img{
  height:88px;
  background:url('/datapanel-ui/static/qqq.png') no-repeat;
  background-size: 100% 106%;
}
.menu_card_col16{
  padding-top:4.9%;
  padding-left:6%;
}
.menu_card_col16_text{
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}
.menu_card_col16_text2{
  font-size: 13px;
  background-color: silver;
  color:darkorange;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
}
.menu_card_col8{
  font-size: 40px;
  color: #fff;
  margin-bottom: 3%;
  padding-top: 4.9%;
  text-align:center;
  line-height: 50px;
}
.middle12 {
  height: 18vh;
  width: 100%;
  background-color: darkorange;
  background-repeat: round;
  text-align: center;
  z-index: 999;
}
.FontClass2 {
  width: 100px;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: -25%;
  margin-left: 45%;
  height: 4vh
}
.FontClass2_BackGround{
  background-color: white;
  width: 95%;
  margin-left: 2%;
  margin-top: 10px;
}
.FontClass2_Stu{
  margin: 2%;
  height: 5vh;
  padding-top: 10%;
  font-size: 15px;
  margin-left: 20px;
  font-weight: bolder;
}
.FontClass2_Time{
  margin: 2%;
  height: 10vh;
  padding-top: 2%;
  font-size:20px;
  margin-left: 20px;
  font-weight: bolder;
}
.FontClass2_text1{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30px;
    border-radius: 3%;
    background: rgb(255, 255, 255);
    border: 6px solid darkorange;
}
.FontClass2_text{
  background-color: darkorange;
  margin-top: 5px;
  height: 2.5vh;
  margin-left: 5px;
  width: 6%;
}
.FontClass2_text2{
  background: darkorange;
  padding: 9px;
  font-size: 18px;
  font-weight: bolder;
  margin: -1px;
}
.JB_text{
  background:-webkit-linear-gradient(#ffd0a3,#ff8100) ;
  font-size:18px;
  border-radius:10%;
  width:100px;
  margin-top: 16px;
  padding: 4px 0 4px;
  margin: 14px auto;
}
.User_Level{
  visibility:visible;background-color: darkorange;font-size: 16px;text-align: center;
  border-radius: 10%/90%;margin-top: 3%;margin-left: 10%;margin-right: 10%;
  height: 2vh;color: #FFFFFF;padding-top:2.5%;padding-bottom: 2%;
}
.User_Level_Two{
  visibility:visible;background-color: darkorange;font-size: 16px;text-align: center;
  border-radius: 10%/90%;margin-top: 1%;margin-left: 10%;margin-right: 10%;
  height: 2vh;color: #FFFFFF;padding-top:2.5%;padding-bottom: 2%;
}
